config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    gitlab.com/fall3d-suite/fall3d:
      branch: master
      repo: https://gitlab.com/fall3d-suite/fall3d
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      gitlab.com/fall3d-suite/fall3d git:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-charcoal-saola.sh
        container: qc.acc_boozy-bistre-jaguar
  QC.Doc:
    repos:
      gitlab.com/fall3d-suite/fall3d find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-carmine-ocelot.sh
        container: qc.doc_squeaky-zucchini-wildebeest
      gitlab.com/fall3d-suite/fall3d git:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-turquoise-dog.sh
        container: qc.doc_pasty-amethyst-mongrel
      gitlab.com/fall3d-suite/fall3d markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-myrtle-hyena.sh
        container: qc.doc_chummy-coral-crab
  QC.Lic:
    repos:
      gitlab.com/fall3d-suite/fall3d licensee:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-sepia-eel.sh
        container: qc.lic_cozy-brown-akita
  QC.Met:
    repos:
      gitlab.com/fall3d-suite/fall3d cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-copper-javanese.sh
        container: qc.met_tacky-bistre-hornet
  QC.Sec:
    repos:
      gitlab.com/fall3d-suite/fall3d bandit:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-brass-butterfly.sh
        container: qc.sec_gloppy-aquamarine-moose
  QC.Sty:
    repos:
      gitlab.com/fall3d-suite/fall3d flake8:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-fuchsia-bloodhound.sh
        container: qc.sty_surly-rust-numbat
      gitlab.com/fall3d-suite/fall3d jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-chestnut-labradoodle.sh
        container: qc.sty_woolly-burgundy-moose
  QC.Uni:
    repos:
      gitlab.com/fall3d-suite/fall3d pytest:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-platinum-moose.sh
        container: qc.uni_ugly-sepia-tamarin
  QC.Ver:
    repos:
      gitlab.com/fall3d-suite/fall3d get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-cobalt-reindeer.sh
        container: qc.ver_stuffy-red-hippopotamus
timeout: 5400
